@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-color:rgba(0, 0, 0, 0.952);
  --second-bg-color:rgba(7, 6, 6, 0.822);
  --primary-color:rgba(247, 133, 28, 0.932);
  --color:#fff;
  --extra-light:#e0dddd;
}
.header{
  background-color: var(--bg-color);
  color: var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.80rem;

}
.navbar{
  display: flex;
  padding: 0.55rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  width: 50%;
  border-radius: 50px;

}
.navbar li{
  font-size: 1.3rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease;
}
.navbar li:hover,.active{
  color:var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.logo{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 9px;
}
.logo span{
  color: var(--primary-color);
}

.home-container{
  width: 100%;
  height: 85vh;
  background:url('/images/image2.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}
.home-content{
  position: absolute;
  top: 50%;
  left: 3%;

}
.home-title{
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--primary-color);
}
.home-content p{
  font-size: 1.5rem;
  color: var(--color);
  margin-bottom: 20px;
}
.home-content .btn{
  width: 25%;
  padding: 10px;
  color: var(--color);
  background-color: black;
  font-size: 15px;
  margin-top: 25px;
  border-radius: 10px;
  border: 2px solid var(--color);
  transition: all 0.3s ease-in-out;
}
.home-content .btn:hover{
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: transparent;
}
.card-container{
  height: auto;
  width: 100%;
  background-color: var(--second-bg-color);
}
.card-container .card-heading{
  font-size: 2.5rem;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  color: var(--color);
  margin-left: 20px;
}
.card-container h1 span{
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary-color);
}
.main-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
  background:url('/images/travel.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}
.card{
  width: 200px;
  height: 330px;
  /* background-color: var(--primary-color); */
  border-radius: 30px;
  padding: 10px;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
  margin-top: 10px;
}
 .image{
  border-radius: 20px;
  border: 3px solid var(--primary-color);
  overflow: hidden;
  cursor: pointer;
 }
 /* .image:hover{
  color: #fff;
 } */
.image img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.3s ease;
} 
.card:hover .image img{
  transform: scale(1.2);
  filter:opacity(50%);
}
.card:hover .title{
  color: var(--primary-color);
}
.title{
  font-size: 1rem;
  color: aliceblue;
  margin-bottom: 10px;
  margin-top: 8px;
  font-family: 'Times New Roman', Times, serif;
}
.description{
  font-size: 0.75rem;
  color: var(--primary-color);
  margin-bottom: 6px;
}
.btn{
  width: 30%;
  margin-top: 8px;
  padding: 10px;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 10px;
  transition: 0.3s;
}
.btn:hover{
  color: var(--primary-color);
  background-color: black;
 border: transparent;
}
.btn2{
  width: 13%;
  margin-top: 3px;
  padding: 10px;
  color: #fff;
  background-color: black;
  border-radius: 10px;
  margin-left: 1000px;
  margin-bottom: 20px;
  font-size: 15px;
  transition: 0.3s;
}
.btn2:hover{
  color: var(--primary-color);
  background-color: black;
}
.text{
  position: absolute;
  color: black;
  background-color: var(--primary-color);
  font-size: 0.65rem;
  padding: 1px;
  border-radius: 30px;
  width: 7%;
  text-align: center;
  margin-top: 190px;
  font-weight: 700;
  margin-left: 5px;
  transition: none;
}
.card:hover .text{
  display: none;
}
.about-container{
  width: 100%;
  height: 1650px;
  background-color: var(--bg-color);
  color: var(--color);
}
.about-image{
  position: relative;
  background:url('/images/bg-index.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 450px;
}
.about-image h3{
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 2rem;
}
.navbar2{
    display: flex;
    padding: 0.55rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    width: 50%;
    margin: auto;
  }
  .navbar2 li{
    font-size: 1.3rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
    color: #fff;
  }
  .navbar2 li:hover,.active{
    color:var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

.about-content{
  position: relative;
  width: 1000px;
  height: 1100px;
  margin: auto;
  overflow: hidden;
  top: 2%;
  padding: 2rem;
}
.about-title{
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-title2{
  font-size: 1.75rem;
  font-weight: 400;
}
.about-title3{
  font-size: 1.55rem;
  font-weight: 500;
}
.about-content p{
  margin-bottom: 10px;
  color:#aaa;
}
.series-container{
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.series-image{
  position: relative;
  background: url('/images/bg-index.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 400px;
}
.series-image h3{
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 2rem;
}
.series-content{
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.series-content span{
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 600;
}
.series-content h2{
  color: var(--color);
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}
.popular-card{
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.heading{
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  }
  .heading span{
    color: var(--primary-color);
  }
.contact{
  background-color: #101010;
  width: 100%;
  height: auto;
  }
  .contact h2{
  margin-bottom: 3rem;
  }
  .contact span{
    color: var(--primary-color);
  }
  .contact form{
  max-width: 700px;
  margin: auto;
  text-align: center;
  }
  .contact form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
  .contact form .input-box input,
  .contact form textarea{
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  background: black;
  border-radius: 0.8rem;
  border: 2px solid var(--primary-color);
  margin: 1rem 0;
  }
  .contact .btn1{
    margin-top: 8px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 30px;
    width: 20%;
    border: 2px solid transparent;
    transition: 0.3s ease-in;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  .contact .btn1:hover{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: transparent;
    box-shadow: 0px 0px 25px var(--primary-color);
  }
  .footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--primary-color);
    }
    .footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    }
    .footer ul li a{
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
    }
    .footer ul li a:hover{
    border-bottom: 2px solid #fff;
    }
    .footer ul li{
    display: inline-block;
    padding: 0 15px;
    }
    .footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    }
    .Singin-container{
      background-color: var(--bg-color);
      width: 100%;
      height: 100vh;
    }
   .login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('/images/sing2.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
   }

   .wrapper{
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

   }
   .wrapper h1{
    font-size: 36px;
    text-align: center;
   }
   .wrapper .input-box-2{
    width: 100%;
    height: 50px;
    margin: 30px 0;
   }
   .input-box-2 input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  .input-box-2 input::placeholder{
    color: #fff;
  }
  .wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  .remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
  }
  .remember-forget a{
    color: #fff;
    text-decoration: none;
  }
  .remember-forget a:hover{
    text-decoration: underline;
  }
  .wrapper .login-btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;
  }
  .register{
    font-size: 14.5px;
    text-align: center;
    margin:20px 0 15px;
  }

  .register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .register p a:hover{
    text-decoration: underline;
  }
  .header .log{
   background-color: var(--primary-color);
   padding: 5px;
   border-radius: 30px;
   width: 100px;
   text-align: center;
   transition: 0.3s ease-in;
  }
  .header .log:hover{
    color: #101010;
  }
@media(max-width:1000px){
      .footer{
        padding: 2rem 3%;
      }
    }
@media(max-width:955px){
  .header{
    padding: 2rem;
  }
  .navbar li{
    font-size: 1rem;
  }
  .home-container .btn{
    margin-top:15px;
  }
  .btn2{
    margin-left:0px;
    width: 50%;
    margin-bottom: 2rem;

  }
  .text{
    width:30%;
  }
  .about-content p{
    font-size:1rem;
  }
  .about-content{
    width: 60%;;
  }
  .contact{
    padding: 2rem;
  }
  .contact .btn1{
    font-size: 8px;
  }
}
@media(max-width:550px){
  .header{
    flex-direction: column;
  }
  .about-content{
    width: 100%;
    height: auto;
  }
  .about-container{
    height: auto;
  }

}